bower_components/
build/
node_modules/
.idea/
bluemix/public/
src/**/*.js
src/**/*.js.map
demo/**/.js
demo/**/.js.map
demos_custom_apps/**/.js
demos_custom_apps/**/.js.map
test/**/*.js
test/**/*.js.map
!test/unit/setup.js
local-api/*.js
local-api/*.js.map
bluemix/*.js
bluemix/*.js.map
